:root {
  --bs-body-bg: #fff;

}
body{
  background-color: rgba(0, 0, 0, 0.418);
}

#image1_info{
  border: 1px solid black;
  cursor: pointer;
  position: absolute;
  top: 35px;
}

#image_input1 {
  display: inline-block;
  margin-top: 5px;
}

#image_input2 {
  display: inline-block;
  margin-top: 5px;


}

#images_2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#images_container {
  position: relative;
  display: block;


}

#comb_img {
  width: 26vw;
  height: 36vh;
  position: absolute;
  left: 25vw;
  top: 15px;
  margin-bottom: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

#options_container {
  display: flex;
  position: absolute;
  top: 0px;
  flex-direction: column;
  gap: 60px;
  position: relative;

}
.title {
  margin-top: 5px;
  color: white;
  background-color: rgb(58, 73, 158);
  width: 100%;
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(14, 116, 5), 0 0 5px black;
  /* left: 100px; */
  top: 10px;
  padding: 4px;
  font-size: 30px;
  border-radius: 5px;
  font-family: sans-serif;
}


#combine_btn{
  position: absolute;
  background-color: rgb(34, 34, 116);
  top: 160px;
  font-size: 20px;
  width: 300px;
  color: white;
  border: none;
}

.checkbox-form{
  /* position: absolute; */
  display: flex;
  gap: 10px;
  top: 100px;
  margin-top: 100px;
}
.imagediv2{
  margin-top: 20px;
}
.imagediv1{
  margin-top: 20px;
}
#result1 {
  width: 30vw;
  height: 40vh;
  background-color: #f6f6f6;
  margin-top: 10px;
}
#result2 {
  width: 30vw;
  height: 40vh;
  background-color: #f6f6f6;
  margin-top: 10px;
}
#result1 image{
  width: 100%;
}